#actualizar{
    display: none;
}

#enviar:hover{
    background-color: rgb(81, 163, 125);
}

body{
    background-color: #375e97;
}

*{
    color: #ffbb00;
}

body{
    background-color: #cf0c0c;
}

*{
    color: #3A5199;
}

p{
    text-align: center;
    font-weight: bold;
}

body{
    background-color: #FFFFFF;
}

#enviar:hover{
    background-color: rgb(2, 100, 55);
}